* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    justify-content: center;
    display: flex;
    transform: translateY(-100px);
    /* start above */
    opacity: 0;
    /* invisible sa simula */
    animation: slideDown 1s ease forwards;
    /* animation */
}

@keyframes slideDown {
    to {
        transform: translateY(0);
        /* bababa sa normal position */
        opacity: 1;
        /* lalabas */
    }
}

.basic-information-container {
    height: 50vh;
    margin-top: 150px;
    align-items: center;
    display: flex;
    align-content: center;
}

.navigation-bg {
    display: flex;
    list-style: none;
    background-color: #efefef;
    border-radius: 40px;
    padding: 10px 40px;
    justify-content: space-between;
    width: 900px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}



.social-links-container {
    background-color: #ffffff;
    width: 30px;
    border-radius: 10px;
    padding: 100px 20px;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    transform: translateX(-100px);
    animation: leftSociaLinks 1s ease forwards;
}

@keyframes leftSociaLinks {
    to {
        transform: translateX(0);
        /* bababa sa normal position */
        opacity: 1;
        /* lalabas */
    }
}

li.social-link {
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

li.social-link a {
    color: black;
}

.basic-inforamtion-texts-container {
    font-size: 30px;
    margin-left: 320px;
    font-family: 'Roboto', sans-serif;
    transform: translateY(-100px);
    animation: UpDownText 1.5s ease forwards;

}

@keyframes UpDownText {
    to {
        transform: translateY(0);
        /* bababa sa normal position */
        opacity: 1;
        /* lalabas */
        display: block;
    }
}

img.basic-information-photo {
    border-radius: 20px;
    width: 300px;
    margin-left: 200px;
    transform: translateX(300px);
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    to {
        transform: translateX(0);
        /* bababa sa normal position */
        opacity: 1;
        /* lalabas */
    }
}

section {
    height: 100vh;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container-word-Academic-Info {
    justify-content: center;
    display: flex;
    font-size: 30px;
    margin: 50px 10px;
    font-weight: bold;
}

.container-academic-info {
    justify-content: center;
}

.academic-info-text-center {
    justify-content: center;
    display: flex;

}

.acacemic-info-img-container-filter {
    justify-content: center;
    display: flex;
}

.DS-text {
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 5px;
    width: 200px;
}

.StudentID {
    background-color: #efefef;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    width: 200px;
}

.Course {
    background-color: #efefef;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    width: 400px;
}

.Block {
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 5px;
    width: 200px;
}

.first-line-academic-info-container {
    display: flex;
    gap: 10px;
}

.second-line-academic-info-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.academic-info-img-container-filter {
    justify-content: center;
    display: flex;
}

.academic-info-text-container {
    /* display: flex; */
    justify-content: left;
    gap: 20px;
    /* margin-top: 10px; */
    width: 1190px;
    margin-top: 50px;
}

.academic-info-text-center {
    font-size: 20px;
}

.academic-info-img-photo-container {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.br {
    border-radius: 15px;
    margin: 5px 10px;
    width: 380px;
}

.container-Interests-Hobbies {
    justify-content: center;
    display: flex;
    margin: 50px 20px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 130px
}

.interes-hobbies-main-center {
    justify-content: center;
    display: flex;
}

.words-text-container {
    text-align: center;
}

.box-container-main {
    margin-top: 100px;
    gap: 10px;
}

.box-container-main {
    display: flex;
}

.box {
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.header-box1 {
    margin: 10px;
    font-size: 40px;
}

.title p {
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    margin: 20px;
}

.text-p {
    font-size: 15px;
    margin: 20px;
}

.bi-suit-heart-fill {
    color: red;
}

.bi-geo-alt-fill {
    color: green;
}

.container-title-Fun-Personal-Info-text {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.container-title-Fun-Personal-Info-text {
    margin: 0 0 80px 0;
}

.center-main-fun {
    justify-content: center;
    text-align: center;
}

img.f-flex-photo {
    width: 250px;
    border-radius: 15px;
    margin: 3px;
}

.f-flex2 {
    border-radius: 20px;
    overflow: hidden;
    height: 250px;
}

.f-flex-main {
    display: flex;
    justify-content: center;
}

.graham {
    height: 510px;
}

.mcFlurry {
    height: 350px;
}

.photo-food-flex2 {
    display: flex;
}

.f-flex-4 {
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
}

img.pizza {
    height: 150px;
    width: 500px;
    border-radius: 20px;
}

.favorite-foods-img-container {
    margin-top: 40px;
}